.js-plotly-plot .plotly .modebar-group {
    padding-left: 2px;
}

.line-gl-plot-scale {
    width: 100%;
    height: 100%;
    .js-plotly-plot .plotly {
        .modebar-container {
            position: absolute;
            bottom: 35px !important;
            right: 60px !important;
            top: unset !important;
            width: 100%;
            .modebar {
                transform: scale(2);
            }
        }
    }

}

.line-gl-plot {
    width: 100%;
    height: 100%;
    .js-plotly-plot .plotly { 
        .modebar-container {
            position: absolute;
            bottom: 20px !important;
            right: 2px !important;
            top: unset !important;
            width: 100%;
        }
    }
}